

.dialog{
    margin: 1rem;
}
.dialog__header{
    color: #2cb1bc;
}
.drawer__title{
    color: #2cb1bc;
    letter-spacing: 3px;
}

.drawer__list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.drawer__link{
    text-decoration: none;
    color: #627d98;
    font-style: inherit;
}

.drawer__icon{
    color: #2cb1bc;
}

.drawer__link__Content{
    display: flex;
    align-items: center;
    padding: 0.5rem 3.5rem;
    transition: 0.3s ease-in-out;

  }
  .drawer__link__Content:hover{
    transform: translateX(0.5rem);
    background-color: #f0f4f8;
  }