.drawer__link{
    text-decoration: none;
    color: #627d98;
    font-style: inherit;
}

.drawer__icon{
    color: #2cb1bc;
}

.drawer__link__Content{
  display: flex;
  align-items: center;
  padding: 0.5rem 2.5rem;
  transition: 0.3s ease-in-out;
  width: 10rem;

}
.drawer__link__Content:hover{
  transform: translateX(0.5rem);
  background-color: #f0f4f8;
}

.drawer__title{
  margin-left: 0.5rem;
}

.drawer__link--active{
  color: #000000
}