.profile__button{
  margin: 1.85rem 0;
}
.tab__heading{
  margin: 0;
}

@media only screen and (max-width: 1200px) {
.profile__button{
    margin: 1.85rem 0;
}
  }
  @media only screen and (max-width: 880px) {
    .profile__button{
        margin: 0;
    }
      }
      
  