

html {
  background-color: #f0f4f8;
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}


.errorText {
  margin-top: -8px;
  color: rgb(255, 0, 0);
  font-weight: 600;
}

.loader{
  position: fixed;
  overflow: visible;
  margin: auto;
  top: 50%;
  left: 50%;
  z-index: 9999;
}


